# Node.js
**/node_modules/
**/.next/
**/out/
**/build/

# Python
**/venv/
**/__pycache__/
**/*.pyc
**/.pytest_cache/

# Environment Variables
**/.env
**/.env.local

# AI Models (Raksasa)
model_judol_indobertweet/
**/model_judol_indobertweet/
*.bin
*.pt
*.safetensors
*.h5

# Files Skripsi & Temp (JANGAN MASUK GITHUB)
/*.pdf
/*.docx
/*.txt
/*.md
!README.md
implementation_plan_*
walkthrough_*

# OS Files
.DS_Store
Thumbs.db
