GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=rahasia-moderasi-judol
NEXTAUTH_URL=http://localhost:3000
MODEL_API_BASE=http://localhost:5000

NEXT_PUBLIC_SUPABASE_URL=url-supabase-project-kamu
NEXT_PUBLIC_SUPABASE_ANON_KEY=anon-key-rahasia-project-kamu

# MIDTRANS CONFIGURATION (SANDBOX)
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false

# ADMIN CONFIGURATION
# Daftar email yang akan otomatis mendapatkan role 'superadmin' saat pertama kali login (pisahkan dengan koma jika lebih dari satu)
ADMIN_EMAILS=superadmin1@gmail.com,superadmin2@gmail.com
# HUGGING FACE SPACES CONFIGURATION
HF_SPACE_ID=filamss/athena_shield_model
HF_ACCESS_TOKEN= # Hanya diperlukan jika Space Hugging Face Anda diset sebagai Private
